@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
    --main-font: 'DM Sans', sans-serif;

    background-color: var(--Cream);
    width: 1440px;
    height: 100vh;
}
.main-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 450px;
    display: grid;
    grid-gap: 20px;
}
.header{
    padding: 25px;
    border-radius: 10px;
    font-family: var(--main-font);
    color: var(--Cream);
    height: 100px;
    background-color: var(--soft-red);
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.header .image-div{
    width: 50px;
}
.header span{
    font-weight: bolder;
}
.body{
    padding: 15px;
    background-color: var(--Very-pale-orange);
    border-radius: 14px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.footer .footer-left p{
    color: #adadad;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}

.footer .foooter-left h2{
    font-size: 4rem;
    font-weight: 700;
}

.footer .footer-right{
    margin-bottom: 5px;
}

.footer .footer-right p.percent{
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    text-align: right;

}

.footer .footer-right p.last-month{
    color: #adadad;
    letter-spacing: 0.3px;
    font-size: 1rem;

}



@media only screen and (max-width:500px){
    .main-body .header, .main-body .body{
        padding: 1rem;
        border-radius: 0.7rem;

    }

    .chart-box .column{width: 45px;}
}
@media only screen and (max-width:400px){

    .main-body .header, .main-body .body{
        padding: 0.5rem;
        border-radius: 0.5rem;

    }

    .chart-box .column{width: 4px;}

}